@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pacifico&display=swap');
.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-background: #FDF9F4;
  --color-nav: #8B5E3C;
  --color-aside: #F7E6D0;
  --color-main: #FFFFFF;
  --color-footer: #4A2E1A;
  --color-text: #3B2C26;
  --color-border: #D4B08C;
  --color-link: #E67E22;
  --color-link-hover: #D35400;
  --color-link-hover-contrast: #F7E6D0;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
 
  display: flex;
  flex-direction: column;  

  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h2{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 36px;
  color: var(--color-text);
}

/* Encabezado -------------------------------------------------------------------------------------------------*/
header{
  display: flex;
  justify-content: space-between;
  background-color: var(--main-nav);
  color: var(--color-text);
  text-align: center;
  padding: 8px;
  height: 70px;
}
header .logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h1{
  color: var(--color-text);
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 24px;
  width: 100px;
  padding-right: 12px;
}

header .user-options{
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--color-text);
  padding: 12px;
}

/* Barra de búsqueda --------------------------------------------------------------------------------------------------*/

.search-bar {
  display: flex;
  align-items: center;
  width: 600px;
}
.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  width: 100%;
}
.search-bar input[type="text"]:focus{
      outline: none;
      border-color: var(--color-link);
      box-shadow: 0 0 5px var(--color-link);
}

.search-bar button {
  padding: 8px 12px;
  margin-left: 8px;
  background-color: var(--color-link);
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Barra de navegación -----------------------------------------------------------------------------------------------------*/
nav ul {
  background-color: var(--color-nav);
  margin: 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 28px;
  align-items: center;
  list-style: none;
}
nav a{
  color: #FFFFFF;
  
}
nav a:hover {
  color: var(--color-link-hover-contrast);
  text-decoration: none;
}


/* Banner -------------------------------------------------------------------------------------------------------------------*/
.banner {
  width: 100%;  
} 
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* Filtros -----------------------------------------------------------------------------------------------------------------*/

.filters {
 
}

.filters h2 {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--color-text);
    text-align: center;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    align-items: center;
    justify-content: end;
}

.filter-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    min-width: 180px;
    label{
      display: flex;
      align-items: center;
      gap:12px
    }
}

.filter-group label {
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--color-text);
}


.filter-group input,
.filter-group select {
    padding: 8px 10px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    background-color: var(--color-main);
    color: var(--color-text);
    font-size: 16px;
}

.filter-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
    transform: scale(1.5);
    cursor: pointer;
    accent-color: var(--color-border);
}

.filter-group input:focus,
.filter-group select:focus {
    outline: none;
    border-color: var(--color-link);
    box-shadow: 0 0 2px var(--color-link);
}

.filter-group input[type="checkbox"]:focus {
    outline: none;
    border-color: var(--color-link);
    box-shadow: 0 0 2px var(--color-link);
}

.filters button {
    padding: 10px 18px;
    background: var(--color-link);
    color: var(--color-link-hover-contrast);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.filters button:hover {
    background: var(--color-link-hover);
    transform: scale(1.05);
}

/* Contenido principal -----------------------------------------------------------------------------------------------------*/
main {
  background-color: var(--color-main);
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  min-height: 58vh;
  margin-top: 4px;
}



/* Párrafos */
p {
  color: var(--color-text);
  line-height: 1.6;
}

/* Links */
a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

/* GRID de productos */
    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }

    /* Tarjetas */
    .product-card {
      border: 1px solid var(--color-border);
      border-radius: 10px;
      padding: 16px;
      text-align: center;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      display: flex;
      flex-direction: column;
      a{
        text-decoration: none;
      }
    }

    .product-card:hover {
      transform: translateY(-3px);
      box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    }

    .product-card img {
      max-width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 16px;
    }

    .product-card h3 {
      font-size: 20px;
      margin: 16px 0;
      color: var(--color-text);
    }

    .product-footer {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 8px;                   
    }

    .product-card p {
      font-size: 16px;
      font-weight: bold;
      color: var(--color-link);
      margin: 12px auto;
      
    }

    .product-card button {
      background: var(--color-link);
      color: #fff;
      border: none;
      padding: 8px;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.2s ease;
      margin-top: auto;
      font-size: 16px;
    }

    .product-card button:hover {
      background: var(--color-link-hover);
    }

    
/* Pie de página  ----------------------------------------------------------------------------------------------------------------- */ 
footer {
  background-color: var(--color-footer);
  text-align: center;
  padding: 16px;
  margin-top: 4px;  
  
}
footer p {
  margin: 0;
  font-size: 14px;
  color: #FFF;
}
.contains-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contains-footer .icons{
  display: flex;
  gap: 32px;
  justify-content: center;
  width: 50%;
 
}

.contains-footer .footer-text{
  text-align: right;
}

/* ====== Sección Nosotros ====== */
.nosotros {
  background: #fefefe;
  padding: 80px 20px;
  text-align: center;
}

.nosotros-content {
  max-width: 800px;
  margin: 0 auto;
  
}


.nosotros h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #ff914d; /* color de acento */
  margin: 10px auto 0;
  border-radius: 2px;
}

.nosotros p {
  font-size: 20px;
  line-height: 1.6;  
  margin-bottom: 15px;
}


/* ====== Sección Servicios ====== */
.servicios {
  padding: 80px 20px;
  text-align: center;
  color: var(--color-text);
}


.servicios-header h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #ff914d; 
  margin: 10px auto 0;
  border-radius: 2px;
}

.servicios-header p {
  font-size: 20px;
  color: #666;
  margin-bottom: 50px;
}

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
  a{
    text-decoration: none;
  }
}

.servicio-card {
  background: #fff;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    img {
      width: 60px;
      margin-bottom: 15px;
      border: 3px solid #ff914d;
      border-radius: 10px;
  
}
}

.servicio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
  
}



.servicio-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff914d; /* color acento */
}

.servicio-card p {
  font-size: 16px;
  color: #555;
}
/* ====== Sección Contacto ====== */

.contact-container {
  max-width: 700px;
  margin: 40px auto;
  background: var(--color-main);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  form{
    width: 80%;
    margin-bottom: 20px;
    
    input, textarea{
      width: 98%; /* Corrijo 2 puntos para alinear al boton*/
      padding: 10px 5px;
    }
  }
}

.contact-container h2::after {
content: "";
display: block;
width: 60px;
height: 4px;
background: #ff914d; 
margin: 10px auto 0;
border-radius: 2px;
}


.form-group {
  margin-bottom: 24px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: 16px;
  background: var(--color-aside);
  color: var(--color-text);
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--color-link);
  box-shadow: 0 0 5px var(--color-link);
}

.form-group textarea {
  min-height: 120px;
}

.btn-submit {
  display: block;
  width: 100%;
  background-color: var(--color-link);
  color: var(--color-main);
  font-size:18px;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 40px;
}

.btn-submit:hover {
  background-color: var(--color-link-hover);
}


/* Detalle producto --------------------------------------------------------------------------------------------------------------------*/

.detalle-producto {
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  gap: 30px;
  padding: 40px;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Columna 1 - Imagen */
.detalle-img img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--color-border);
  background-color: var(--color-main);
}

/* Columna 2 - Info */
.detalle-info h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--color-nav);
}

.detalle-info .precio {
  font-size: 36px;
  font-weight: bold;
  color: var(--color-link);
  margin-bottom: 15px;
}

.detalle-info .descripcion {
  font-size: 16px;
  margin-bottom: 20px;
}

.detalle-info .detalle {
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.5;
}

/* Columna 3 - Compra */
.detalle-compra {
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: var(--color-aside);
}

.detalle-compra h3 {
  margin-bottom: 16px;
  font-size: 20px;
  color: var(--color-footer);
}

.detalle-compra ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.detalle-compra li {
  margin-bottom: 8px;
  font-size: 16px;
}

.btn-comprar,
.btn-carrito {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-comprar {
  background-color: var(--color-link);
  color: white;
}

.btn-comprar:hover {
  background-color: var(--color-link-hover);
}

.btn-carrito {
  background-color: var(--color-footer);
  color: white;
}

.btn-carrito:hover {
  background-color: var(--color-nav);
}
/* Carrito -----------------------------------------------------------------------------------------------------------------------------*/

.cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  max-width: 1200px;
  margin: 32px auto;
  padding: 16px;
  color: var(--color-text);
}

.cart-title {
  grid-column: 1 / -1;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--color-border);
  padding-bottom: 8px;
  color: var(--color-nav);
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  background: var(--color-main);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 16px;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.cart-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-details h3 {
  font-size: 16px;
  margin: 0;
}

.cart-details p {
  font-size: 14px;
  margin: 8px 0;
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-quantity button {
  background-color: #ededed;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.cart-quantity button:hover {
  background-color: #d9d9d9;
}

.cart-quantity input {
  width: 45px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.2rem;
}

.cart-price {
  min-width: 120px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Resumen de compra */
.cart-summary {
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 24px;
  height: fit-content;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.cart-summary h3 {
  font-size: 20px;
  margin-bottom: 16px;
  color: var(--color-nav);
}

.cart-summary p {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 16px;
}

.checkout-btn {
  width: 100%;
  margin-top: 24px;
  background-color: var(--color-link);
  color: white;
  border: none;
  padding: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.checkout-btn:hover {
  background-color: var(--color-link-hover);
}

#toast-carrito {
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  display: none;  
  gap: 20px;
  animation: aparecer 0.5s ease-out, desaparecer 0.5s ease-in 2s forwards;
  opacity: 0.8;
}

@keyframes aparecer {
  0% {opacity: 0;}
  100% {opacity: 0.8;}
  
}

@keyframes desaparecer {
  0% {opacity: 0.8;}
  100% {opacity: 0;}
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-btn {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  min-width: 80%;
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
}
.dropdown-content label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}
.dropdown.show .dropdown-content {
  display: block;
  width: 80px;
  background-color: var(--color-link);
  color: white;
}

/* Responsive Design  ----------------------------------------------------------------------------------------------------------------- */

/* Cel */
@media (max-width: 768px) {
  .logo h1 {
      display: none;
    }
  .logo img{
    padding-right: 12px;
  }
  .search-bar input[type="text"] {
    
    width: 65%;
  }
  .contains-footer .icons{
    min-width: 100px;
    gap: 16px;
    flex-direction: column;}
    .detalle-producto {
    grid-template-columns: 1fr;
  }
  .detalle-compra {
    margin-top: 20px;
  }

  .cart-container {
    grid-template-columns: 1fr;
  }

  .cart-summary {
    margin-top: 2rem;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 992px) {
  
}

/* Escritorio */
@media (min-width: 993px) {
  
}