@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pacifico&display=swap');
.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-background: #FDF9F4;
  --color-nav: #8B5E3C;
  --color-aside: #F7E6D0;
  --color-main: #FFFFFF;
  --color-footer: #4A2E1A;
  --color-text: #3B2C26;
  --color-border: #D4B08C;
  --color-link: #E67E22;
  --color-link-hover: #D35400;
  --color-link-hover-contrast: #F7E6D0;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
 
  display: flex;
  flex-direction: column;    /* Distribuye header, main, footer en columna */

  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Encabezado -------------------------------------------------------------------------------------------------*/
header{
  display: flex;
  justify-content: space-between;
  background-color: var(--main-nav);
  color: var(--color-text);
  text-align: center;
  padding: 8px;
  height: 70px;
}
header .logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h1{
  color: var(--color-text);
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 24px;
  width: 100px;
  padding-right: 12px;
}

header .user-options{
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--color-text);
  padding: 12px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 600px;
}
.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  width: 100%;
}
.search-bar button {
  padding: 8px 12px;
  margin-left: 8px;
  background-color: var(--color-link);
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Barra de navegación -----------------------------------------------------------------------------------------------------*/
nav ul {
  background-color: var(--color-nav);
  margin: 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 28px;
  align-items: center;
  list-style: none;
}
nav a{
  color: #FFFFFF;
  
}
nav a:hover {
  color: var(--color-link-hover-contrast);
  text-decoration: none;
}


/* Banner -------------------------------------------------------------------------------------------------------------------*/
.banner {
  width: 100%;  
} 
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* Contenido principal -----------------------------------------------------------------------------------------------------*/
main {
  background-color: var(--color-main);
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  min-height: 58vh;
}



/* Párrafos */
p {
  color: var(--color-text);
  line-height: 1.6;
}

/* Links */
a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

/* GRID de productos */
    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }

    /* Tarjetas */
    .product-card {
      border: 1px solid var(--color-border);
      border-radius: 10px;
      padding: 16px;
      text-align: center;
      transition: transform 0.2s ease, box-shadow 0.2s ease;

      display: flex;
      flex-direction: column;
    }

    .product-card:hover {
      transform: translateY(-3px);
      box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    }

    .product-card img {
      max-width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 16px;
    }

    .product-card h3 {
      font-size: 20px;
      margin: 16px 0;
      color: var(--color-text);
    }

    .product-footer {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 8px;                   
    }

    .product-card p {
      font-size: 16px;
      font-weight: bold;
      color: var(--color-link);
      margin: 12px auto;
      
    }

    .product-card button {
      background: var(--color-link);
      color: #fff;
      border: none;
      padding: 8px;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.2s ease;
      margin-top: auto;
      font-size: 16px;
    }

    .product-card button:hover {
      background: var(--color-link-hover);
    }

    
/* Pie de página  ----------------------------------------------------------------------------------------------------------------- */ 
footer {
  background-color: var(--color-footer);
  text-align: center;
  padding: 16px;
  margin-top: 4px;  
  
}
footer p {
  margin: 0;
  font-size: 14px;
  color: #FFF;
}
.contains-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contains-footer .icons{
  display: flex;
  gap: 32px;
  justify-content: center;
  width: 50%;
 
}

.contains-footer .footer-text{
  text-align: right;
}

/* Responsive Design  ----------------------------------------------------------------------------------------------------------------- */

/* Cel */
@media (max-width: 768px) {
  .logo h1 {
      display: none;
    }
  .logo img{
    padding-right: 12px;
  }
  .search-bar input[type="text"] {
    
    width: 65%;
  }
  .contains-footer .icons{
    min-width: 100px;
    gap: 16px;
    flex-direction: column;}
}

/* Tablet */
@media (min-width: 769px) and (max-width: 992px) {
  
}

/* Escritorio */
@media (min-width: 993px) {
  
}